---
import { getCollection } from "astro:content";

import Layout, { type SocialMetaTags } from "../../layouts/Layout.astro";

const post = (await getCollection("posts").then((posts) => {
  return posts.find((post) => post.slug === Astro.params.slug);
})) as any;

const socialMeta: SocialMetaTags = {
  image: `${post.data.images.cover}`,
  description: post.data.excerpt,
  title: post.data.title,
  type: "article",
};
const { Content } = await post.render();
---

<Layout title={post.data.title} socialMeta={socialMeta}>
  <main
    class="max-w-[890px] m-6 lg:mx-auto flex-auto prose prose-sm md:prose-lg"
  >
    <header>
      <h1 class="!m-0">{post.data.title}</h1>
      <div class="divider"></div>
      <p class="italic">{post.data.date}</p>
    </header>
    <article>
      <Content />
    </article>
  </main>
</Layout>
