---
import Footer from "./Footer.astro";
import Header from "./Header.astro";

export type SocialMetaTags = {
  title: string;
  description: string;
  type: string;
  url: string;
  image: string;
};
interface Props {
  title: string;
  socialMeta?: SocialMetaTags;
}

const { title, socialMeta } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <!-- SOCIAL META TAGS -->
    {
      socialMeta && (
        <>
          <meta property="og:title" content={socialMeta.title} />
          <meta property="og:description" content={socialMeta.description} />
          <meta property="og:type" content={socialMeta.type} />
          <meta property="og:url" content={socialMeta.url} />
          <meta property="og:image" content={socialMeta.image} />
        </>
      )
    }</head
  >
</html>

<title>{title}</title>

<body class="min-h-screen flex flex-col">
  <Header />
  <slot />
</body>
<Footer />
<slot name="social-meta-tag" />

<style>
  :root {
    --max-width: 1400px;
  }
</style>

<script>
  const DATA_THEME_KEY = "data-theme";
  const LIGHT_THEME = "light";

  const localStorage = window.localStorage;
  const htmlElement = document.querySelector("html");

  if (!localStorage.getItem(DATA_THEME_KEY)) {
    localStorage.setItem(DATA_THEME_KEY, LIGHT_THEME);
  }

  htmlElement.setAttribute(
    DATA_THEME_KEY,
    localStorage.getItem(DATA_THEME_KEY)
  );
</script>
